@font-face {
    font-family: 'danayad';
    src: url('danayadalefalefalef-normal-webfont.eot');
    src: url('danayadalefalefalef-normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('danayadalefalefalef-normal-webfont.woff2') format('woff2'),
         url('danayadalefalefalef-normal-webfont.woff') format('woff'),
         url('danayadalefalefalef-normal-webfont.ttf') format('truetype'),
         url('danayadalefalefalef-normal-webfont.svg#dana_yad_alefalefalefnormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nadavb';
    src: url('NadavB.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    direction: rtl;
    background: linear-gradient(13deg, #693e7c 0%, green 60%, yellow 70%, #e70c0c 100%);
    background-clip: text;
    -webkit-fill-color: transparent;
    background-repeat: no-repeat;
}

#mlil {
    text-align: center;
    font-family: nadavb;
    -webkit-text-fill-color: #990000;
    text-shadow: 
    0 -1px 0 #fff, 
    0 1px 0 #2e2e2e, 
    0 2px 0 #2c2c2c, 
    0 3px 0 #2a2a2a, 
    0 4px 0 #282828, 
    0 5px 0 #262626, 
    0 6px 0 #242424, 
    0 7px 0 #222, 
    0 8px 0 #202020, 
    0 9px 0 #1e1e1e, 
    0 10px 0 #1c1c1c, 
    0 11px 0 #1a1a1a, 
    0 12px 0 #181818, 
    0 13px 0 #161616, 
    0 14px 0 #141414, 
    0 15px 0 #121212, 
    0 22px 30px rgba(0, 0, 0, 0.9);
    font-size: 90px;
    margin: auto;

}

#neweps {
    text-align: center;
    font-family: danayad;
    font-size:xx-large;
    font-weight: bolder;
    margin: 30px;
}

.eps {
    text-align: center;
    font-family: danayad;
    font-weight: bolder;
    font-size: 40px;
    margin:27px;
    line-height: 30px;

}
a {
    text-decoration: none;
    color:white;
    text-shadow: 2px 2px #333, rgb(51, 51, 51) 2px 0px 0px, rgb(51, 51, 51) 1.75517px 0.958851px 0px, rgb(51, 51, 51) 1.0806px 1.68294px 0px, rgb(51, 51, 51) 0.141474px 1.99499px 0px, rgb(51, 51, 51) -0.832294px 1.81859px 0px, rgb(51, 51, 51) -1.60229px 1.19694px 0px, rgb(51, 51, 51) -1.97998px 0.28224px 0px, rgb(51, 51, 51) -1.87291px -0.701566px 0px, rgb(51, 51, 51) -1.30729px -1.5136px 0px, rgb(51, 51, 51) -0.421592px -1.95506px 0px, rgb(51, 51, 51) 0.567324px -1.91785px 0px, rgb(51, 51, 51) 1.41734px -1.41108px 0px, rgb(51, 51, 51) 1.92034px -0.558831px 0px !important;


}

a:visited {
    text-decoration: none;
    color:white;

}

a:active {
    color:pink;




}